html {
    height: 100%;
}

body {
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    background-image: url(img/forrest.jpg) , url(img/cave.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

h1 {
    margin:0;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    color: #d2d2caf0;
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 0;
}

table {
    text-align: center;
    margin: auto;
}

.board { 
    display: none;
    color: #d2d2caf0;
    table-layout: fixed;
}

td {
    border:2px solid #d2d2caf0;
    color: #d2d2caf0;
    font-family: 'Special Elite', cursive;
    font-weight: 900;
    font-size: 25px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    table-layout: fixed;
}

.menu {
 display: block;   
}

.start-menu {
    height: 100px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border: 5px solid #d2d2caf0;
    margin:auto;
    margin-bottom: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #d2d2caf0;
    font-family: 'Averia Serif Libre', cursive;
    border-style: groove;
}

#start {
    background-image: url(img/wall.jpg);
    background-size: contain;
}

.startMenu:hover { 
    border-color: rgb(241, 241, 20);
    color:rgb(241, 241, 20);
    border-style: groove;
 }  

 .features {
     display: flex;
     text-align: center;
     justify-content: center;
     margin-left: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
 }

.timer {
    display: none; 
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Special Elite', cursive;
    color: #d2d2caf0;
    font-weight: 900;
    font-size: 2em;
 }

 .btn {
     cursor: pointer;
     display: none;   
 }

 .hint0 {
     margin-right: 10px;
 }

 .hint1 {
    margin-right: 10px;
}

.life1 {
    margin-left: 10px;
}

.life2 {
    margin-left: 10px;
}

.help {
text-align: center;
margin: auto;
cursor: pointer;
}

.game-info {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom:15px;
}

.mines-display {
    color: #d2d2caf0;
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Special Elite', cursive;
}

.flag-counter {
    color: #d2d2caf0;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Special Elite', cursive;
}

.help-modal {
background-image: url(img/wall.jpg);
background-size: contain;
display: none;
height: 350px;
width: 350px;
border: 10px groove #d2d2caf0;
color: #d2d2caf0;
padding: 20px;
font-family: 'Averia Serif Libre', cursive;
position: absolute;
top: 0;
margin-top: 135px;
text-align: center;
margin:auto;
margin-top: 128px;
margin-left: 35px;
}

.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background:transparent;
    display: none;
}

.modal {
    height: 120px;
    max-width: 250px;
    background-image: url(img/wall.jpg);
    background-size: contain;
    font-size: 50px;
    font-weight: 900;
    align-items: center;
    border: 10px groove #d2d2caf0;
    font-family: 'Special Elite', cursive;
    cursor: pointer;
    margin:auto;
    text-align: center;
    margin-top:130px;
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
}

.win-modal {
    padding: 60px;
    padding-bottom: 30px;
    color: rgb(34, 248, 34);
    display: none;
}

.lose-modal {
    padding: 60px; 
    padding-top: 50px;
    color: rgb(255, 0, 0);
    display:none;
}

span {  
    font-size: 20px;
    margin-top: 100px;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  